# Data Cleaning in Python

In [ ]:
"""
Project: Airbnb Open Data â€“ Data Cleaning and Preparation

Data Cleaning Steps:
1. Remove redundant and irrelevant columns
2. Standardize and rename column names
3. Identify and remove duplicate records
4. Clean and standardize individual column values
5. Handle missing values
6. Apply additional data transformations as needed

Dataset Source:
https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata
"""

'f. Check for some more transformation'

# 1. Insert Dataset

In [ ]:
import pandas as pd

In [ ]:
# Meng Import dataset-csv
data = pd.read_csv("Airbnb_Open_Data.csv")

/tmp/ipython-input-180275767.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Airbnb_Open_Data.csv")

In [ ]:
# Mengecek 5 data teratas
data.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [ ]:
# Menampilkan keseluruhan kolom
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [ ]:
# Menampilkan dimensi data
data.shape

(102599, 26)

In [ ]:
# untuk mengecek informasi data
# membandingkan nilai yg tidak null terhadap yang null pada tiap kolom
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

# a. Remove redundant and irrelevant columns

In [ ]:
data.info()
# lihat pada bagian last_review (perbedaan datanya sangat besar dibandign sebelumnya)
# namun pada kasus ini kita drop dari review_per_month

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [ ]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [ ]:
columns_to_keep = ['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review']
columns_to_drop = ['reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license','id']

In [ ]:
# Menghitung jumlah kolom
len(columns_to_keep)

19

In [ ]:
# Menghitung jumlah kolom
len(columns_to_drop)

7

1. Filtering Data (First Method) - (Buat variabel tiap kali mau edit datasetðŸ˜¡ðŸ˜¡)

In [ ]:
# menampilkan data sesuai variabel kolom
# tampilan hanya menampilkan query terakhir
data[columns_to_keep]
data[columns_to_drop]

,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,id
0,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,1001254
1,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,1002102
2,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,1002403
3,4.64,4.0,1.0,322.0,NaN,NaN,1002755
4,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,1003689
...,...,...,...,...,...,...,...
102594,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN,6092437
102595,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN,6092990
102596,NaN,5.0,1.0,342.0,NaN,NaN,6093542
102597,0.10,3.0,1.0,386.0,NaN,NaN,6094094
102598,NaN,3.0,1.0,69.0,NaN,NaN,6094647

In [ ]:
dk = data[columns_to_keep]
dd = data[columns_to_drop]

In [ ]:
# drop kolom
data_DC1 = data.drop(columns = ['license']) # cara ke-1
data_DC = data.drop(columns = dd) # drop dari variabel data_DC
data_DC.head(2) # total jadi 19 kolom
data_DC.shape # cek dimensi

(102599, 19)

2. Dropping Column (Second Method)- (Tanpa buat variabel tiap kali mau edit datasetðŸ˜¡ðŸ˜¡)

In [ ]:
data.head(1) # kolum di data masih full
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [ ]:
data.drop(columns = dd,inplace = True) # drop langsung ke data aslinya, tanpa buat variabel baru
data # data asli yg udah di drop

# Note: kl udah di drop gak bisa di drop lagi (Error)

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN

# b. Standardize and rename column names

In [ ]:
# dalam merename column, menggunakan dictionary
data.columns

Index(['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review'],
      dtype='object')

In [ ]:
# merename kolom NAME
data.rename(columns = {"NAME":"Name"})
data.rename(columns = {"NAME":"Name"}, inplace = True) # mengubah data utama
data.head(2) # sudah keubah

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022

In [ ]:
for i in data.columns:
  print(i.upper()) # buat semua kolom kapital

for i in data.columns:
  print(i.lower ()) # buat semua lower

name
host id
host_identity_verified
host name
neighbourhood group
neighbourhood
lat
long
country
country code
instant_bookable
cancellation_policy
room type
construction year
price
service fee
minimum nights
number of reviews
last review

In [ ]:
New_CN_L = [] # untuk menampung list kolom baru (Kecil)
for i in data.columns:
 New_CN_L.append(i.lower ()) # buat semua lower

In [ ]:
 New_CN_L # menampilkan semua kolom lower

['name',
 'host id',
 'host_identity_verified',
 'host name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'country code',
 'instant_bookable',
 'cancellation_policy',
 'room type',
 'construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'last review']

In [ ]:
data_cl = data.copy() # copy dari data utama, untuk coba ganti kolom ke lower

In [ ]:
data_cl.columns = New_CN_L # ubah kolom yg awalnya H.bsar jadi kecil

In [ ]:
data_cl.head(2) # nama kolom udah kecil semua

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022

# c. Identify and remove duplicate records

In [ ]:
data.duplicated() # kl duplicate True
data.duplicated().sum() # menghitung jumlah Duplicate True
data.duplicated().value_counts() # menghitung jumlah Duplicate True dan False

False    102058
True        541
Name: count, dtype: int64

In [ ]:
# clean_data = data.drop_duplicates() # buat variabel
# atau
# aku pilh yg bawah
data.drop_duplicates(inplace = True) # langsung ganti ke data utama

In [ ]:
data.duplicated().value_counts() # udah gak ada data duplicate

False    102058
Name: count, dtype: int64

In [ ]:
ss

# d. Clean and standardize individual column values

In [ ]:
data.isna().sum() # last review merupakan kolom dengan NA terbanyak

Name                        250
host id                       0
host_identity_verified      289
host name                   404
neighbourhood group          29
neighbourhood                16
lat                           8
long                          8
country                     532
country code                131
instant_bookable            105
cancellation_policy          76
room type                     0
Construction year           214
price                       247
service fee                 273
minimum nights              400
number of reviews           183
last review               15832
dtype: int64

In [ ]:
data.drop(columns = "last review" )

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,US,True,moderate,Private room,NaN,$696,NaN,7.0,12.0
102054,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,US,False,flexible,Private room,NaN,$909,NaN,1.0,19.0
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,True,moderate,Entire home/apt,NaN,$387,NaN,2.0,50.0
102056,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,US,True,strict,Private room,NaN,$848,NaN,2.0,0.0
102057,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,US,False,flexible,Entire home/apt,2011.0,"$1,128",NaN,4.0,22.0

In [ ]:
# data_no_NA = data bersih tanpa NA
data_no_NA = data.dropna()

In [ ]:
# ngecek lagi
data_no_NA.isna().sum() # udah gak ada data yang NA

Name                      0
host id                   0
host_identity_verified    0
host name                 0
neighbourhood group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country code              0
instant_bookable          0
cancellation_policy       0
room type                 0
Construction year         0
price                     0
service fee               0
minimum nights            0
number of reviews         0
last review               0
dtype: int64

# e. Handle missing values from the dataset

1. Mengubah host_identity_verified jadi UPPER

In [ ]:
# dari sini pake variabel data_no_NA
data_no_NA['host_identity_verified']

0         unconfirmed
1            verified
4            verified
5            verified
7         unconfirmed
             ...
102029    unconfirmed
102030       verified
102031       verified
102032    unconfirmed
102040       verified
Name: host_identity_verified, Length: 83969, dtype: object

In [ ]:
# Mengubah hasil host_identity_verified jadi uppercase
data_no_NA['host_identity_verified'].str.upper()

0         UNCONFIRMED
1            VERIFIED
4            VERIFIED
5            VERIFIED
7         UNCONFIRMED
             ...
102029    UNCONFIRMED
102030       VERIFIED
102031       VERIFIED
102032    UNCONFIRMED
102040       VERIFIED
Name: host_identity_verified, Length: 83969, dtype: object

In [ ]:
data_no_NA.head(2) # belum berubah

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022

In [ ]:
# cara mengubah hasilnya di data_no_NA
data_no_NA['host_identity_verified'] = data_no_NA['host_identity_verified'].str.upper()

/tmp/ipython-input-4056827752.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_NA['host_identity_verified'] = data_no_NA['host_identity_verified'].str.upper()

In [ ]:
data_no_NA.head(2) # udah berubah hasil di 'host_identity_verified'

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022

2. Mengubah instant_bookable jadi bolean (0 atau 1)

In [ ]:
data_no_NA ['instant_bookable'].apply(lambda x: 1 if x == True else 0)

0         0
1         0
4         0
5         1
7         0
         ..
102029    0
102030    1
102031    1
102032    0
102040    1
Name: instant_bookable, Length: 83969, dtype: int64

In [ ]:
data_no_NA.head(2)

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022

In [ ]:
data_no_NA ['instant_bookable'] = data_no_NA ['instant_bookable'].apply(lambda x: 1 if x == True else 0) # df(kolom) = df(kolom).method()

/tmp/ipython-input-458387820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_NA ['instant_bookable'] = data_no_NA ['instant_bookable'].apply(lambda x: 1 if x == True else 0)

In [ ]:
data_no_NA.head(5) # udah keubah (Done)

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
5,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019
7,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0,10/5/2017

# f. Check for some more transformation

**1. Cek index atau penomerannya udah bener belum**

In [ ]:
data_no_NA['instant_bookable'][5] # ada nilainya satu

np.int64(1)

In [ ]:
data_no_NA['instant_bookable'][15] # ini error gak ada nilainya

In [ ]:
# cek data
data_no_NA.head(5) # nomor data lompat2

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
5,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019
7,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0,10/5/2017

In [ ]:
#solusi reset index
data_no_NA.reset_index(inplace = True)

In [ ]:
# cek lagi
data_no_NA.head(5) # index yang benar udah muncul

,index,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
2,4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
3,5,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019
4,7,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0,10/5/2017

In [ ]:
# Terakhir coba lagi yg data no 15
data_no_NA['instant_bookable'][15] # udah gak error

np.int64(1)

**2. Ganti mata uang yg awalnya string jadi int dan menghilangkan spaci berlebih**

a. Data Cleaning

In [ ]:
data_no_NA.head(3) # pada price masih ada $, spasi berlebih, sama koma

,index,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
2,4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018

In [ ]:
type (data_no_NA['price'][2]) # data type masih string

str

In [ ]:
data_no_NA.info() # dtype object- belum tentu string, bisa jadi campuran int, string, float, dll (cek lagi)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83969 entries, 0 to 83968
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   83969 non-null  int64
 1   Name                    83969 non-null  object
 2   host id                 83969 non-null  int64
 3   host_identity_verified  83969 non-null  object
 4   host name               83969 non-null  object
 5   neighbourhood group     83969 non-null  object
 6   neighbourhood           83969 non-null  object
 7   lat                     83969 non-null  float64
 8   long                    83969 non-null  float64
 9   country                 83969 non-null  object
 10  country code            83969 non-null  object
 11  instant_bookable        83969 non-null  int64
 12  cancellation_policy     83969 non-null  object
 13  room type               83969 non-null  object
 14  Construction year       83969 non-null  float64
 15  price                   83969 non-null  object
 16  service fee             83969 non-null  object
 17  minimum nights          83969 non-null  float64
 18  number of reviews       83969 non-null  float64
 19  last review             83969 non-null  object
dtypes: float64(5), int64(3), object(12)
memory usage: 12.8+ MB

In [ ]:
data_no_NA['price'].head(10) # buat cek jenis datanya dari perhitungan di bawah ðŸ¤‘ðŸ¤‘
# 1. Dolar udah ilang

0     966
1     142
2     204
3     577
4    1060
5    1018
6     291
7     319
8     606
9     580
Name: price, dtype: object

In [ ]:
# 1. menghilangkan dolar
from numpy._core.defchararray import replace
data_no_NA ['price'] = data_no_NA['price'].str.replace('$','')

/tmp/ipython-input-418865159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_NA ['price'] = data_no_NA['price'].str.replace('$','') # menghilangkan dolar

In [ ]:
# 2. menghilangkang koma
data_no_NA ['price'] = data_no_NA['price'].str.replace(',','')

/tmp/ipython-input-903435079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_NA ['price'] = data_no_NA['price'].str.replace(',','')

In [ ]:
# 2. menghilangkang koma
data_no_NA ['price'] = data_no_NA['price'].str.replace(',','')

In [ ]:
# 3. menghilangkang spasi gak jelas
data_no_NA ['price'] = data_no_NA['price'].str.replace(' ','')

/tmp/ipython-input-1264980915.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_NA ['price'] = data_no_NA['price'].str.replace(' ','')

b. Ganti mata uang menjadi string

In [ ]:
# mengganti data type
data_no_NA['price'] = data_no_NA['price'].astype(int)

/tmp/ipython-input-431792256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_NA['price'] = data_no_NA['price'].astype(int)

In [ ]:
# mengecek kembali
type (data_no_NA['price'][100])
type (data_no_NA['price'][5]) # udah bener integer

numpy.int64

# Ekspor file yang udah di Cleaning

In [ ]:
# ekspor data dari dataframe ke CSV
data_no_NA.to_csv('Cleaned_Data.csv')

In [ ]:
# baca di python
pd.read_csv('Cleaned_Data.csv')

,Unnamed: 0,index,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,...,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,0,0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,...,US,0,strict,Private room,2020.0,966,$193,10.0,9.0,10/19/2021
1,1,1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,...,US,0,moderate,Entire home/apt,2007.0,142,$28,30.0,45.0,5/21/2022
2,2,4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,...,US,0,moderate,Entire home/apt,2009.0,204,$41,10.0,9.0,11/19/2018
3,3,5,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,...,US,1,flexible,Entire home/apt,2013.0,577,$115,3.0,74.0,6/22/2019
4,4,7,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,...,US,0,moderate,Private room,2009.0,1060,$212,45.0,49.0,10/5/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83964,83964,102029,Cozy room in a 2B with backyard access,5155155913,UNCONFIRMED,Cristina,Queens,Astoria,40.76987,-73.92679,...,US,0,flexible,Private room,2018.0,822,$164,1.0,9.0,4/25/2019
83965,83965,102030,An East Williamsburg Delight,71564706996,VERIFIED,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,...,US,1,moderate,Private room,2015.0,455,$91,4.0,36.0,6/27/2018
83966,83966,102031,Cozy bedroom in williamsburg,83101851929,VERIFIED,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,...,US,1,flexible,Private room,2020.0,1078,$216,1.0,58.0,6/10/2019
83967,83967,102032,Spacious Room w/ 2 Bed,69037598918,UNCONFIRMED,Christine,Queens,Bayside,40.75047,-73.75349,...,US,0,moderate,Private room,2007.0,103,$21,7.0,40.0,6/23/2019
83968,83968,102040,"Room in Queens, NY, near LGA.",56457739998,VERIFIED,Sonia,Queens,East Elmhurst,40.76245,-73.87938,...,US,1,strict,Private room,2022.0,982,$196,1.0,239.0,6/29/2019

#